*{
    margin: 0;
    padding: 0;
    }


main{
  background-image: url("../pictures/fondopag1.png");
  height: 100vh;
}

/* botones del menu*/
.botonNavBar{
  margin-left: 62vw;
}

/*palabras dentro de los botones de menu*/
.nav-link{
  margin-left: 50px;
}

imagen logo
.contenedorImgLogo{
  width: 100%;
  display: grid;
  place-content: center;
}

.imgLogo{
  margin-top: 15%;
}


/*Botón*/
.drop-button{
    background-color: #ff7300;
    color: #000000;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
  }
  
  /*Botón hover y focus*/
  .drop-button:hover, drop-buttton:hover{
    background-color: #ff7300;
  }
  
  /*Posición del contenedor*/
  .dropdown{
    position: relative;
    display: inline-block;
   }
  
  /*submenu*/
  .dropdown-content{
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a{
    color: #207878;
    padding: 12px 16px;
    display: block;
  }
  
  .dropdown-content a:hover{
    background-color: #f1f1f1
  }
  .show {
    display: block;
  }
  

.mainGeneral{
background-image: url("/pictures/mesasdepool1.jpg");
background-size: cover;

}

.listJugadores{
  display: flex;
  justify-content: center
}

.imgPrueba{
  height: 500px;
  margin-top: 80px;
;}

.tituloListDerecha{
  color: red;
  font-size: 3vh;
  margin-left: 100px;
  margin-top: 40px;
  list-style: none;
  padding-bottom: 10px;
  text-decoration: underline;

}

.tituloListIzquierda{
  color: red;
  font-size: 3vh;
  margin-left: 148px;
  margin-top: 80px;
  padding-bottom: 10px;
  list-style: none;
  text-decoration: underline;

}

.nombresListIzquierda{
  color: white;
  font-size: 2.2vh;
  list-style: none;
  margin-left: 150px;
}

.nombresListDerecha{
  color: white;
  font-size: 2.2vh;
  list-style: none;
  margin-left: 100px;

}

.contenedorIzq{
  margin-bottom: auto;
}