<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Interpool</title>
</head>
<body class="bodyBabylon">

    <header class="sticky-top"><!-- INICIO DEL HEADER -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    
          <div class="container-fluid">
    
            <!-- icono -->
            <a class="navbar-brand" href="#">
              <i class="bi bi-github"></i>
              <span class="text-white">Interpool Bola 9</span>
            </a>
                
            <!-- boton del menu -->
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
              <!-- opciones del menu  -->
    
            <div class=" collapse navbar-collapse" id="menu">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#fixture">Fixture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#fotos">Fotos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#reglamentaciones">Reglamentaciones</a>
                </li>
            </div>
         
          </div>  
        </nav>
      </header><!-- FIN DEL HEADER -->
      <main>
        <section class="container"><!--  Inicio Lista de jugadores-->
          
          <div class="row"><!--  PARRAFO-->
            <div class="col-md-4">
              
              <ul>
                
                <h1 class="tituloListIzquierda">PRIMERA</h1>
                <li class="nombresListIzquierda">Martin marza</li>
                <li class="nombresListIzquierda">Matias insaurralde</li>
                <li class="nombresListIzquierda">Dipaola Adriano</li>
                <li class="nombresListIzquierda">Pepe Damian</li>
                <li class="nombresListIzquierda">Ferreira Gustavo</li>
                <li class="nombresListIzquierda">Guido freiria</li>

                <h1 class="tituloListIzquierda">TERCERA</h1>
                <li class="nombresListIzquierda">Luna facundo</li>
                <li class="nombresListIzquierda">Infante Luis</li>
                <li class="nombresListIzquierda">Milanoff Mariano</li>
                <li class="nombresListIzquierda">Rodríguez Edgardo</li>
                <li class="nombresListIzquierda">Santiago Corbalan </li>
                <li class="nombresListIzquierda">Ordóñez ariel</li>
                <li class="nombresListIzquierda">Damian González</li>
                <li class="nombresListIzquierda">Eguez Fabián</li>

              </ul>

              
            </div>
            
            
            <div class="contenedorImgList col-sm-12 col-md-4 col-lg-4">
              <img src="./pictures/academia.png" class="listImg"  alt="imagen de lista" >
            </div>
            
            
            <div class="col-md-4 ">
              <ul>
                
                <h1 class="tituloListDerecha">SEGUNDA</h1>
                <li class="nombresListDerecha">Rodríguez Fabián</li>
                <li class="nombresListDerecha">González Herbie</li>
                <li class="nombresListDerecha">Sosa David</li>
                <li class="nombresListDerecha">González Martin</li>
                <li class="nombresListDerecha">Quiroz Ramón</li>
                <li class="nombresListDerecha">Dambreche Fernando</li>
                <li class="nombresListDerecha">Mamaní Hernán</li>
                <li class="nombresListDerecha">González Jorge</li>
                <li class="nombresListDerecha">Arias Pablo</li>
                <li class="nombresListDerecha">Fernando González</li>
                <li class="nombresListDerecha">López Juan Eduardo </li>
                <li class="nombresListDerecha">Leonardo morantes</li>


                <h1 class="tituloListDerecha">MASTER</h1>
                <li class="nombresListDerecha">Jeréz Miguel</li>
              </ul>
              

            </div>
            
            
          </div>
        </section><!--  Fin Lista de jugadores-->

      </main>




      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <script src="./js/index.js"></script>
    </body>
</html>