<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Interpool</title>
</head>
<body>
  <header> <!--INICIO DEL HEADER-->
  <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">InterPool Bola 9</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" botonNavBar collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Salas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="whynot.html">Whynot</a></li>
              <li><a class="dropdown-item" href="takos.html">Takos</a></li>
              <li><a class="dropdown-item" href="moreno.html">Trebol de Moreno</a></li>
              <li><a class="dropdown-item" href="insomnio.html">Insomnio</a></li>
              <li><a class="dropdown-item" href="babylon.html">Babylon</a></li>
              <li><a class="dropdown-item" href="#">Academia de pooln</a></li>
              <li><a class="dropdown-item" href="8910.html">8910 Pool</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
      </header><!-- FIN DEL HEADER -->
      <main>
        <section class="container"><!--  Inicio Lista de jugadores-->
          
          <div class="row"><!--  PARRAFO-->
            <div class="col-md-4">
              
              <ul>
                
                <h1 class="tituloListIzquierda">PRIMERA</h1>
                <li class="nombresListIzquierda">Martin marza</li>
                <li class="nombresListIzquierda">Matias insaurralde</li>
                <li class="nombresListIzquierda">Dipaola Adriano</li>
                <li class="nombresListIzquierda">Pepe Damian</li>
                <li class="nombresListIzquierda">Ferreira Gustavo</li>
                <li class="nombresListIzquierda">Guido freiria</li>

                <h1 class="tituloListIzquierda">TERCERA</h1>
                <li class="nombresListIzquierda">Luna facundo</li>
                <li class="nombresListIzquierda">Infante Luis</li>
                <li class="nombresListIzquierda">Milanoff Mariano</li>
                <li class="nombresListIzquierda">Rodríguez Edgardo</li>
                <li class="nombresListIzquierda">Santiago Corbalan </li>
                <li class="nombresListIzquierda">Ordóñez ariel</li>
                <li class="nombresListIzquierda">Damian González</li>
                <li class="nombresListIzquierda">Eguez Fabián</li>

              </ul>

              
            </div>
            
            
            <div class="contenedorImgList col-sm-12 col-md-4 col-lg-4">
              <img src="../pictures/academia.png" class="listImg"  alt="imagen de lista" >
            </div>
            
            
            <div class="col-md-4 ">
              <ul>
                
                <h1 class="tituloListDerecha">SEGUNDA</h1>
                <li class="nombresListDerecha">Rodríguez Fabián</li>
                <li class="nombresListDerecha">González Herbie</li>
                <li class="nombresListDerecha">Sosa David</li>
                <li class="nombresListDerecha">González Martin</li>
                <li class="nombresListDerecha">Quiroz Ramón</li>
                <li class="nombresListDerecha">Dambreche Fernando</li>
                <li class="nombresListDerecha">Mamaní Hernán</li>
                <li class="nombresListDerecha">González Jorge</li>
                <li class="nombresListDerecha">Arias Pablo</li>
                <li class="nombresListDerecha">Fernando González</li>
                <li class="nombresListDerecha">López Juan Eduardo </li>
                <li class="nombresListDerecha">Leonardo morantes</li>


                <h1 class="tituloListDerecha">MASTER</h1>
                <li class="nombresListDerecha">Jeréz Miguel</li>
              </ul>
              

            </div>
            
            
          </div>
        </section><!--  Fin Lista de jugadores-->

      </main>




      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <script src="./js/index.js"></script>
    </body>
</html>