<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Interpool</title>
</head>
<body>
  <header> <!--INICIO DEL HEADER-->
  <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">InterPool Bola 9</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" botonNavBar collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Salas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="whynot.html">Whynot</a></li>
              <li><a class="dropdown-item" href="takos.html">Takos</a></li>
              <li><a class="dropdown-item" href="moreno.html">Trebol de Moreno</a></li>
              <li><a class="dropdown-item" href="insomnio.html">Insomnio</a></li>
              <li><a class="dropdown-item" href="babylon.html">Babylon</a></li>
              <li><a class="dropdown-item" href="academia.html">Academia de pooln</a></li>
              <li><a class="dropdown-item" href="8910.html">8910 Pool</a></li>
              <li><a class="dropdown-item" href="pacheco.html">Trebol de Pacheco</a></li>
              <li><a class="dropdown-item" href="barril.html">El Barril</a></li>
              <li><a class="dropdown-item" href="pepeluis.html">Pepe Luis</a></li>
              <li><a class="dropdown-item" href="chuavechito.html">Chuavechito</a></li>
              <li><a class="dropdown-item" href="#">Dalton</a></li>
              <li><a class="dropdown-item" href="heaven.html">Heaven</a></li>
              <li><a class="dropdown-item" href="malena.html">Malena Pool</a></li>
              <li><a class="dropdown-item" href="tomas.html">Tomas Pool</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
      </header><!-- FIN DEL HEADER -->

      <main class="mainGeneral">
        <section class="container"><!--  Inicio Lista de jugadores-->
          
          <div class="row"><!--  PARRAFO-->
            <div class="col-md-4">
              
              <ul>
                
                <h1 class="tituloListIzquierda">PRIMERA</h1>
                <li class="nombresListIzquierda">Alan Groshaus</li>
                <li class="nombresListIzquierda">Alexis Groshaus</li>
                <li class="nombresListIzquierda">Gabriel Frigerio</li>
                <li class="nombresListIzquierda">Pablo Duarte</li>
                <li class="nombresListIzquierda">Mauricio Duarte</li>
                <li class="nombresListIzquierda">Luciana Fernandez</li>
                <li class="nombresListIzquierda">Lucas Gomez</li>
                <li class="nombresListIzquierda">Diego Ismail</li>
                <li class="nombresListIzquierda">Hugo Agüeros</li>
                <li class="nombresListIzquierda">Federico Ianniccari</li>
                <li class="nombresListIzquierda">Cristian Duarte</li>


                <h1 class="tituloListIzquierda">TERCERA</h1>
                <li class="nombresListIzquierda">Pamela Semegone</li>
                <li class="nombresListIzquierda">Federico Aguilar</li>
                <li class="nombresListIzquierda">Romina Smoljanovich</li>
                <li class="nombresListIzquierda">Matias Cubelli</li>
                <li class="nombresListIzquierda">Gastón Cardozo</li>
                <li class="nombresListIzquierda">Matias Duarte</li>
                <li class="nombresListIzquierda">Diego Davoli</li>
                <li class="nombresListIzquierda">Luciano Barrionuevo</li>
                <li class="nombresListIzquierda">Joaquin Aguilar</li>

              </ul>

            </div>
            
            
            <div class="contenedorImgList col-sm-12 col-md-4 col-lg-4">
              <img src="../pictures/academia.png" class="listImg"  alt="imagen de lista" >
            </div>
            
            
            <div class="col-md-4 ">
              <ul>
                
                <h1 class="tituloListDerecha">SEGUNDA</h1>
                <li class="nombresListDerecha">Agustin Didiego</li>
                <li class="nombresListDerecha">Fernando Fidalgo</li>
                <li class="nombresListDerecha">Gustavo Centurión</li>
                <li class="nombresListDerecha">Gabriel Wilson</li>
                <li class="nombresListDerecha">Sebastian Morua</li>
                <li class="nombresListDerecha">Gabriel Ramirez</li>
                <li class="nombresListDerecha">Carlos Zapata</li>
                <li class="nombresListDerecha">Sergio Veisaga</li>
                <li class="nombresListDerecha">Oscar Barrionuevo</li>
                <li class="nombresListDerecha">Ariel Botvinikoff</li>
                <li class="nombresListDerecha">Cecilia Vaccarezza</li>
                <li class="nombresListDerecha">Mariano Rosales</li>
                <li class="nombresListDerecha">Mateo Hernandez</li>

                <h1 class="tituloListDerecha">MASTER</h1>
                <li class="nombresListDerecha">Emilio Chiodin</li>
                <li class="nombresListDerecha"> Elias Deud</li>
              </ul>
              
            </div>
            
            
          </div>
        </section><!--  Fin Lista de jugadores-->

      </main>


  




      
    



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="./js/index.js"></script>
</body>
</html>