<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Interpool</title>
</head>
<body>
  <header> <!--INICIO DEL HEADER-->
  <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">InterPool Bola 9</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" botonNavBar collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Salas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="whynot.html">Whynot</a></li>
              <li><a class="dropdown-item" href="#">Takos</a></li>
              <li><a class="dropdown-item" href="moreno.html">Trebol de Moreno</a></li>
              <li><a class="dropdown-item" href="insomnio.html">Insomnio</a></li>
              <li><a class="dropdown-item" href="babylon.html">Babylon</a></li>
              <li><a class="dropdown-item" href="academia.html">Academia de pool</a></li>
              <li><a class="dropdown-item" href="8910.html">8910 Pool</a></li>
              <li><a class="dropdown-item" href="pacheco.html">Trebol de Pacheco</a></li>
              <li><a class="dropdown-item" href="barril.html">El Barril</a></li>
              <li><a class="dropdown-item" href="pepeluis.html">Pepe Luis</a></li>
              <li><a class="dropdown-item" href="chuavechito.html">Chuavechito</a></li>
              <li><a class="dropdown-item" href="dalton.html">Dalton</a></li>
              <li><a class="dropdown-item" href="heaven.html">Heaven</a></li>
              <li><a class="dropdown-item" href="malena.html">Malena Pool</a></li>
              <li><a class="dropdown-item" href="tomas.html">Tomas Pool</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
      </header><!-- FIN DEL HEADER -->
      <main class="mainGeneral">
        <section class="container"><!--  Inicio Lista de jugadores-->
          
          <div class="row"><!--  PARRAFO-->
            <div class="col-md-4">
              
              <ul>
                
                <h1 class="tituloListIzquierda">PRIMERA</h1>
                <li class="nombresListIzquierda">Hugo Benitez</li>
                <li class="nombresListIzquierda">Angel Mascetti</li>
                <li class="nombresListIzquierda">Carlos Viard</li>
                <li class="nombresListIzquierda">Ramon Acosta</li>
                <li class="nombresListIzquierda">Alberto Infante</li>
                <li class="nombresListIzquierda">Victor Gutler</li>
                <li class="nombresListIzquierda">Carlos Kloster</li>
                <li class="nombresListIzquierda">Carlos villan</li>
                <li class="nombresListIzquierda">ezequiel baigorri</li>
                <li class="nombresListIzquierda">Martin aguirre</li>
                <li class="nombresListIzquierda"></li>

                <h1 class="tituloListIzquierda">TERCERA</h1>
                <li class="nombresListIzquierda">Fernanada Ventola</li>
                <li class="nombresListIzquierda">Luis Sun</li>
                <li class="nombresListIzquierda">Cesar Palacios</li>
                <li class="nombresListIzquierda">Lucas Velez</li>
                <li class="nombresListIzquierda">Mariano Astorga </li>
                <li class="nombresListIzquierda">Claudio Farias</li>
                <li class="nombresListIzquierda">Favio Godoy</li>
                <li class="nombresListIzquierda">Marcos Nuñez</li>
                <li class="nombresListIzquierda">Diego Leyes</li>
              </ul>

              
            </div>
            
            
            <div class="contenedorImgList col-sm-12 col-md-4 col-lg-4">
              <img src="../pictures/takos.png" class="listImg"  alt="imagen de lista" >
            </div>
            
            
            <div class="col-md-4 ">
              <ul>
                
                <h1 class="tituloListDerecha">SEGUNDA</h1>
                <li class="nombresListDerecha">Victor Alvarado </li>
                <li class="nombresListDerecha">Nestor Gomez</li>
                <li class="nombresListDerecha">Fernando Oviedo</li>
                <li class="nombresListDerecha">Nicolas Jorvatt</li>
                <li class="nombresListDerecha">Joaquín Gómez</li>
                <li class="nombresListDerecha">Alejandro Lopez</li>
                <li class="nombresListDerecha">Marcelo Gomez</li>
                <li class="nombresListDerecha">Walter Irrazabal</li>
                <li class="nombresListDerecha">Carlos Figueroa</li>
                <li class="nombresListDerecha">Silvio verá</li>
                <li class="nombresListDerecha">Carlos Dominguez</li>

                <h1 class="tituloListDerecha">MASTER</h1>
                <li class="nombresListDerecha">Omar Perez</li>
                <li class="nombresListDerecha">Alejandro Patiño</li>
                <li class="nombresListDerecha">Patricio Maciel</li>
                <li class="nombresListDerecha">Lucas Lemos</li>

                <h1 class="tituloListDerecha">PROMOCIONAL</h1>
                <li class="nombresListDerecha">Juan Pastafiglia</li>
                <li class="nombresListDerecha">Pablo Sconza</li>

              </ul>
              

            </div>
            
            
          </div>
        
        </section><!--  Fin Lista de jugadores-->

      </main>

      <footer>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.5416714291514!2d-58.62840728423727!3d-34.590461964304865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb93efc57e193%3A0x8697e924f109a712!2sTakos%20Bar%20Pool!5e0!3m2!1ses!2sar!4v1679661125385!5m2!1ses!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </footer>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <script src="./js/index.js"></script>
    </body>
</html>