<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Interpool</title>
</head>
<body>
  <header> <!--INICIO DEL HEADER-->
  <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">InterPool Bola 9</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" botonNavBar collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Salas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="whynot.html">Whynot</a></li>
              <li><a class="dropdown-item" href="takos.html">Takos</a></li>
              <li><a class="dropdown-item" href="moreno.html">Trebol de Moreno</a></li>
              <li><a class="dropdown-item" href="insomnio.html">Insomnio</a></li>
              <li><a class="dropdown-item" href="babylon.html">Babylon</a></li>
              <li><a class="dropdown-item" href="academia.html">Academia de pool</a></li>
              <li><a class="dropdown-item" href="8910.html">8910 Pool</a></li>
              <li><a class="dropdown-item" href="pacheco.html">Trebol de Pacheco</a></li>
              <li><a class="dropdown-item" href="barril.html">El Barril</a></li>
              <li><a class="dropdown-item" href="pepeluis.html">Pepe Luis</a></li>
              <li><a class="dropdown-item" href="chuavechito.html">Chuavechito</a></li>
              <li><a class="dropdown-item" href="dalton.html">Dalton</a></li>
              <li><a class="dropdown-item" href="heaven.html">Heaven</a></li>
              <li><a class="dropdown-item" href="malena.html">Malena Pool</a></li>
              <li><a class="dropdown-item" href="#">Tomas Pool</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
      </header><!-- FIN DEL HEADER -->

      <main class="mainGeneral">
        <section class="container"><!--  Inicio Lista de jugadores-->
          
          <div class="row"><!--  PARRAFO-->
            <div class="col-md-4">
              
              <ul>
                
                <h1 class="tituloListIzquierda">PRIMERA</h1>
                <li class="nombresListIzquierda">Miguel VILLALBA</li>
                <li class="nombresListIzquierda">Gaston BERSA</li>
                <li class="nombresListIzquierda">German ROJO</li>
                <li class="nombresListIzquierda">Gonzalo ESCAMEZ</li>
                <li class="nombresListIzquierda">Leo PERALTA</li>
                <li class="nombresListIzquierda">Damian LANDI</li>


                <h1 class="tituloListIzquierda">TERCERA</h1>

                <li class="nombresListIzquierda">Daniel GARCIA</li>
                <li class="nombresListIzquierda">Daniel JUAREZ</li>
                <li class="nombresListIzquierda">Diego AVEIRO</li>
                <li class="nombresListIzquierda">Mauricio LOZANO</li>
                <li class="nombresListIzquierda">Cristian ARABETTI</li>
                <li class="nombresListIzquierda">Maximiliano FERNANDEZ </li>
                <li class="nombresListIzquierda">Alex AGUILERA</li>
                <li class="nombresListIzquierda">Brian RAMOS</li>
              </ul>

            </div>
            
            
            <div class="contenedorImgList col-sm-12 col-md-4 col-lg-4">
              <img src="../pictures/academia.png" class="listImg"  alt="imagen de lista" >
            </div>
            
            
            <div class="col-md-4 ">
              <ul>
                
                <h1 class="tituloListDerecha">SEGUNDA</h1>

                
                <li class="nombresListDerecha">Fernando ZALAZAR</li>
                <li class="nombresListDerecha">Jonathan ZOZAYA</li>
                <li class="nombresListDerecha">Marcelo SAPORITO</li>
                <li class="nombresListDerecha">Lautaro GARCIA</li>
                <li class="nombresListDerecha">Pablo NAVARRO</li>
                <li class="nombresListDerecha">Gustavo BOIS</li>
                <li class="nombresListDerecha">Gustavo EMPORIO</li>
                <li class="nombresListDerecha">Victor SEGOVIA</li>
                <li class="nombresListDerecha">Lidman CARRION</li>
                <li class="nombresListDerecha">Jorge CASTAÑEDA</li>
                <li class="nombresListDerecha">Angel MARTINEZ</li>
                <li class="nombresListDerecha">Diego SOSA</li>

                <h1 class="tituloListDerecha">MASTER</h1>
                <li class="nombresListDerecha">Miguel ENCINA</li>
                <li class="nombresListDerecha">Fermin ACOSTA</li>
                <li class="nombresListDerecha">Andres SUAREZ </li>
                <li class="nombresListDerecha">Sebastian Rodriguez </li>
              </ul>
              
            </div>
            
            
          </div>
        </section><!--  Fin Lista de jugadores-->

      </main>




  




      
    



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="./js/index.js"></script>
</body>
</html>